@font-face {
  font-family: "iconfont"; /* Project id 3023868 */
  src: url('iconfont.woff2?t=1639728041080') format('woff2'),
       url('iconfont.woff?t=1639728041080') format('woff'),
       url('iconfont.ttf?t=1639728041080') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xbox:before {
  content: "\e60a";
}

.icon-playstation:before {
  content: "\e6df";
}

.icon-origin:before {
  content: "\e622";
}

.icon-map:before {
  content: "\e621";
}

.icon-github:before {
  content: "\e651";
}

.icon-icons-apex-legends:before {
  content: "\e608";
}

